body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, white 1%, rgb(59, 59, 59));
}
.title{
    margin: auto;
    width: 50%;
    margin-top: 5px;

    font-size: 45px;
    text-align: center;

    background-color: rgb(173, 173, 173);
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 4px black;
}
.calculatorFrame{
    margin: auto;
    width: 25%;
    height: 400px;
    margin-top: 50px;
    overflow: auto;

    background-color: rgb(173, 173, 173);
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 4px black;
}
.calculatorScreen{
    margin: auto;
    width: 80%;
    height: 55px;
    margin-top: 15px;

    background-color: rgb(115, 202, 1);
    color: white;
    border-radius: 5px;
    box-shadow: inset 2px 2px 4px black;
}
.previusScreen{
    background-color: greenyellow;
    width: 100%;
    height: 50%;
    float: right;

    border-radius: 5px 5px 0px 0px;
    box-shadow: inset 2px 2px 4px black;
}
.currentScreen{
    background-color: rgb(112, 187, 0);
    width: 100%;
    height: 10px;
    float: right;
    height: 50%;

    border-radius: 0px 0px 5px 5px;
    box-shadow: inset 2px 0px 2px 0px black;
    
}
.calculatorKeysFrame{
    margin: auto;
    width: 80%;
    height: 298px;
    margin-top: 15px;
    overflow: auto;

    background-color: rgb(173, 173, 173);
    color: white;
    border-radius: 5px;
    border:solid 1px white;
}
.calculatorNumberKeysFrame{
    
    width: 70%;
    height: 296px;
    overflow: auto;

    background-color: rgb(173, 173, 173);
    color: white;
    border-radius: 5px;


}
.number{
    background-color: rgb(173, 173, 173);
    font-size: 25px;
    width: 67px;
    height: 74px;
    border: rgb(151, 151, 151) solid 1px;
    float: right;

    overflow:auto;
    text-align: center;

    
}
.number:active{
    box-shadow: inset 0px 0px 5px black;
    font-size: 22px;
}
.calculatorOperationsKeysFrame{
    width: 28%;
    height: 99%;
    
    float: right;
}
.operation{
    width: 100%;
    height: 44px;
    background-color: rgb(173, 173, 173); 
    border: rgb(151, 151, 151) solid 1px;
    
    font-size: 20px;
}
.operation:active{
    font-size: 17px;
    box-shadow: inset 0px 0px 5px black;
}
.additionButton{
    height: 75px;
}